---
pagination:
  data: pokemon
  size: 30

title: "Pokedex"
---

{% extends 'layouts/main.njk' %}
{% block content %}
    <div class="p-2 sm:p-6">
        <div class="flex justify-center pt-5 pb-12">
            {% image "./src/_includes/assets/icons/pokemon.svg",
            'logo',
            "(min-width: 30em) 100vw, 100vw" %}
        </div>

        <div class="max-w-3xl mx-auto pb-8 px-4 sm:px-6 lg:px-8">
            <div class="max-w-2xl mx-auto">
                <p class="font-medium text-lg md:text-xl lg:text-2xl !leading-relaxed text-gray-900 text-center">Open Source Static Pokédex. <br/>Made with <a target="_blank" href="https://www.11ty.dev/">
                        <span class="underline">@11ty.</span></a>
                </p>
            </div>
            <div class="mt-4 sm:mt-8 sm:flex sm:justify-center sm:items-center sm:space-x-5 space-y-3 sm:space-y-0">
                <a href="https://github.com/itsrennyman/11ty-pokedex" class="group flex">
                    <div class="w-full bg-gray-900 sm:w-auto inline-flex items-center justify-center sm:justify-between text-white font-medium group-hover:bg-opacity-80 rounded-lg shadow-sm group-hover:shadow-lg py-3 px-5 border border-white border-opacity-10 transform group-hover:-translate-y-0.5 transition-all duration-150">
                        <svg width="24" height="24" fill="currentColor" class="text-white opacity-40 mr-3">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.606 9.606 0 0112 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48C19.137 20.107 22 16.373 22 11.969 22 6.463 17.522 2 12 2z"></path>
                        </svg>
                        <span>View Repository</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="flex grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-2 sm:gap-6 sm:grid-cols-2">
            {%- for pkmn in pagination.items %}
                <a href="/pokemon/{{ pkmn.name | slug }}">
                    <div class="rounded-xl shadow bg-green-200 flex flex-col justify-between p-5 h-52 overflow-hidden" style="background-color:{{ colors[pkmn.types[0]] }}">
                        <div class="flex justify-between">
                            <p class="text-white text-2xl font-extrabold tracking-tight">
                                {{ pkmn.name | ucfirst }}
                            </p>
                            <p class="text-white text-xl font-extrabold z-10">
                                # {{ pkmn.id }}
                            </p>
                        </div>
                        <div class="flex justify-between items-center flex-row">
                            <div class="flex flex-col space-y-8 items-center">
                                <div class="flex flex-1 space-x-3">
                                    {% for type in pkmn.types %}
                                        <div class="rounded-full h-12 w-12 flex items-center justify-center shadow-md p-3" style="background-color:{{ colors[type] }}">
                                            {% image "./src/_includes/assets/types/" + type + ".svg",
                                            type,
                                            "(min-width: 30em) 50vw, 100vw" %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="w-28 sm:w-36 z-10"
                                {% image "./src/_includes/assets/sprites/" + pkmn.id + ".png",
                                pkmn.name,
                                "(max-width: 600px) 100vw, 600px" %}
                            </div>
                        </div>
                        <div class="w-52 sm:w-52 relative opacity-25" style="bottom: 140px;left: 140px;">
                            {% image "./src/_includes/assets/icons/pokeball.svg",
                            'pokeball',
                            "(min-width: 30em) 50vw, 100vw" %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        {% include "./_includes/partials/pagination.njk" %}
    </div>
{% endblock %}