---
title: "Pokemon List"
data: pokemon
---

{% import './_includes/macros/pokemon.njk' as macro %}
{% extends 'layouts/main.njk' %}
{% block content %}
    <ul>
        {% for pkmn in pokemon %}
            <li>
                {{ macro.pokemon(pkmn.name, pkmn.url) }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}